$game-theme-color: red;

@mixin cool-border($size: 1px, $color:black){
    border: solid $color;
}
$game-background-color: black;

.page-title {
    color: $game-theme-color;
}

#score {
    color: $game-theme-color;
}

.controls-1 {
    color: $game-theme-color;
}
.controls-2 {
    color: $game-theme-color;
}

button {
    color: $game-theme-color;
}

.synth {
    @include cool-border(white)
}

.grid {
    @include cool-border(beige);
    background-color: rgba(155, 53, 53, 0.464)lor
}